<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SITE</title>
  <meta name="description" content="The Content Description">
  <meta name="author" content="HTML5">
</head>

<body>
    <h1>Welcome page from SITE</h1>
</body>
</html>
